@{
    ViewData["Title"] = "Home Page";
}


    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 15px;
        }
    </style>

    <div class="text-center">
        <h1 class="display-4">Welcome to FLETC Live Events</h1>
        <hr />
        
            <br />

            <center>
                <table border="1">

<!--
                    <tr>
                        <td>
                            <a href="https://liveevents.fletc.gov/Home/Player?url=//townhall-usge.streaming.media.usgovcloudapi.net/0a176b51-b3cc-47dc-8c3d-b3af281c6113/2Sept2020CBPOBT2015-manifest.ism/manifest&pic1=//&cc1=//">
                                CBPOBT  2015
                            </a>
                        </td>
                        <td>Wednesday, Sept 02, 2020</td>
                        <td>1:00 - 2:00 PM</td>
                        <td>Glynco</td>
                    </tr>

                    <tr>
                        <td>
                            <a href="https://liveevents.fletc.gov/Home/Player?url=//townhall-usge.streaming.media.usgovcloudapi.net/5beea4b4-3678-4340-8075-9f8239329324/2Sept2020CBPCMSP2001-manifest.ism/manifest&pic1=//&cc1=//">
                                CBPCMSP 2001
                            </a>
                        </td>
                        <td>Wednesday, Sept 02, 2020</td>
                        <td>2:30 - 3:30 PM</td>
                        <td>Glynco</td>
                    </tr>  
    -->
                    <tr>
                        <td>
                            <a href="https://liveevents.fletc.gov/Home/Player?url=//townhall-usge.streaming.media.usgovcloudapi.net/dfa90f3a-1903-4765-a60f-46fd8159eedf/3Sept2020CITP2017-manifest.ism/manifest&pic1=//&cc1=//">
                                CITP 2017
                            </a>
                        </td>
                        <td>Thursday, Sept 03, 2020</td>
                        <td>4:00 - 5:00 PM</td>
                        <td>Glynco</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://liveevents.fletc.gov/Home/Player?url=//townhall-usge.streaming.media.usgovcloudapi.net/dfa90f3a-1903-4765-a60f-46fd8159eedf/3Sept2020CITP2017-manifest.ism/manifest&pic1=//&cc1=//">
                                CBPOBT 2016
                            </a>
                        </td>
                        <td>Friday, Sept 04, 2020</td>
                        <td>1:00 - 2:00 PM</td>
                        <td>Glynco</td>
                    </tr>  

                    <tr>
                        <td>
                            <a href="https://liveevents.fletc.gov/playercc.html?url=//townhall-usge.streaming.media.usgovcloudapi.net/cfa8a36d-d664-41f8-b9e6-df5d70abe2f8/186bf6a5-feb4-4a89-b4fd-0036c3fcea9c.ism/manifest&pic1=//&cc1=//">
                                UPTP 2006A
                            </a>
                        </td>
                        <td>Thursday, Sept 10, 2020</td>
                        <td>0930 - 1030 AM (Mountain Time)</td>
                        <td>Artesia</td>
                    </tr>


                </table>
<!--
                    <br />
                    Past Events
                    <table border="1">
                        <tr>
                            <td>
                                <a href="https://liveevents.fletc.gov/playercc.html?url=//townhall-usge.streaming.media.usgovcloudapi.net/a5234252-3fdb-43b9-83b3-7a6528bc7b5e/66261191-ba57-4a03-8a73-5514295596c8.ism/manifest&pic1=//&cc1=//townhall-usge.streaming.media.usgovcloudapi.net/26d3ab74-ac36-4a96-a327-dcbd113ea0f6/30%20April%20Town%20Hall%20Captions.vtt">
                                    &nbsp;  &nbsp; &nbsp; &nbsp;  Town Hall  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                </a>
                            </td>
                            <td>Thursday, June 25, 2020</td>
                            <td>10:00-11:30 AM</td>
                            <td>Audience: All</td>
                        </tr>



                    </table> -->
           </center>
            
</div>
